@page "/"
@inject NavigationManager NavigationManager

<PageTitle>CarePro Learning</PageTitle>

<div class="container my-4">
    <div class="card custom-dark-bg text-white">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h1>Welcome to CarePro Learning Portal</h1>
                    <p>Discover a new way to manage healthcare with CarePro. Click the image to learn more.</p>
                </div>
                <div class="col-lg-6">
                    <img src="/images/DHW.jpg" alt="Welcome to CarePro" @onclick="NavigateToModule" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="/images/Training1.jpg" alt="Gallery Image 1" class="img-fluid" />
        </div>
        <div class="col-md-6">
            <img src="/images/Training2.jpg" alt="Gallery Image 2" class="img-fluid" />
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>

@code {
    private void NavigateToModule()
    {
        NavigationManager.NavigateTo("/registration");
    }
}
